.waf*
/build
.lock-waf*
*.pyc
.cproject
.project
.settings
*.tar*
*.sublime*
*.swp
/log
rpc_test/counter.h
rpc_test/lib
rpc_test/bin
conf
tmp_conf*.xml
benchmark*.log
log*
.idea
*.orig
docs/
deptran/mdcc/mdcc_rpc.h
.python-version
.ycm_extra_conf.py
.unittest-gtest/
*rpc.h
*.res
*.prof
.nfs*
CMakeFiles/
Makefile
ROCOCO_SERVER
archive/
cmake-build-debug/
cmake_install.cmake
*.a
src/
tmp/
CMakeCache.txt
